.container {
  color: white;
  max-width: 1650px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 1em;
}

.maincont {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.box {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  flex: 1;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.content {
  font-size: clamp(14px, 5vw, 22px);
  line-height: 1.6;
}

.abt {
  position: relative;
  top: 12%;
}

.abt_heading {
  font-size: clamp(24px, 5vw, 28px);
  font-weight: 700;
}

.about {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  max-width: 45%;
  font-size: 14px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40em;
}

.col2 {
  gap: 20px;
}

.skills {
  height: 60%;
}

.cert {
  height: 33%;
}

.skills,
.cert {
  max-width: 100%;
  font-size: 14px;
  flex: 1;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}

.button-container {
  position: relative;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.certgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 0 0 3px #00000020;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s cubic-bezier(0.175, 0.585, 0.32, 1.175),
    backdrop-filter 0.5s ease-in-out;
  border-radius: 8px;
}

.overlay.visible {
  opacity: 1;
  transform: scale(1);
  backdrop-filter: blur(15px);
}

.overlaymain {
  text-align: center;
}

.overlayContent {
  font-size: 1rem;
}

.skillbtn {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
}

.skillbtn:hover {
  background-color: rgba(105, 105, 105, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  cursor: pointer;
}

.grid,
.certgrid {
  position: relative;
  bottom: -10px;
}

.box {
  position: relative;
  overflow: hidden;
}

.torch-container {
  position: absolute;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  overflow: hidden;
  pointer-events: none;
}

.torch {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(36, 36, 36, 0.03) 50%, rgba(36, 36, 36, 0) 30%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.border-highlight {
  position: absolute;
  pointer-events: none;
  transition: opacity 0.1s ease, background 0.1s ease;
}

.border-highlight-top,
.border-highlight-bottom {
  height: 2px;
  width: 100%;
  left: 0;
}

.border-highlight-left,
.border-highlight-right {
  width: 2px;
  height: 100%;
  top: 0;
}

.border-highlight-top {
  top: 0;
}

.border-highlight-bottom {
  bottom: 0;
}

.border-highlight-left {
  left: 0;
}

.border-highlight-right {
  right: 0;
}

.certgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
  height: 60px;
}

.cert-button-container {
  position: absolute;
  width: calc(33.33% - 6.67px);
  height: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.cert-button-container:nth-child(1) {
  left: 0;
}

.cert-button-container:nth-child(2) {
  left: 33.33%;
}

.cert-button-container:nth-child(3) {
  left: 66.66%;
}

.cert-button-container.expanded {
  width: 100%;
  left: 0;
  z-index: 10;
  min-height: 80px;
  transition: all 0.3s ease;
}

.cert-button-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.cert-button-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.skillbtn {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.skillbtn.hidden {
  opacity: 0;
  visibility: hidden;
}

.cert_name {
  font-size: 20px;
  font-weight: 700;
}

.cert-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 1em;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cert-button-container.expanded .cert-content {
  opacity: 1;
  visibility: visible;
}

.cert-content a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-wrap: anywhere;
}

.cert-content a:hover {
  text-decoration: underline;
}

#c_links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
}

@media (max-width: 1100px) {
  .container {
    max-width: 100%;
    display: block;
    position: relative;
  }

  .about {
    max-width: 100%;
    height: 50%;
  }

  .content {
    font-size: clamp(1.25em, 2.3vw, 1.49em);
  }

  .col2 {
    flex-direction: column;
  }

  .grid,
  .certgrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cert-button-container.expanded {
    min-height: 60px;
  }
}

@media (max-width: 480px) {

  .grid,
  .certgrid {
    grid-template-columns: 1fr;
  }

  .certCont {
    min-height: 250px;
  }

  .container {
    display: block;
  }

  .about {
    max-width: 100%;
  }

  .cert-button-container:nth-child(1).expanded,
  .cert-button-container:nth-child(2).expanded,
  .cert-button-container:nth-child(3).expanded {
    grid-column: 1;
  }

  .certgrid {
    grid-template-columns: 1fr;
    height: auto;
  }

  .cert-button-container {
    position: relative;
    width: 100%;
    left: 0 !important;
    margin-bottom: 10px;
  }

  .cert-button-container.expanded {
    height: auto;
    min-height: 72px;
  }
}