.light {
  position: relative;
}

.preloader {
  position: relative;
}

.light::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%),
      transparent 1%,
      rgba(0, 0, 0, 0) 8%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 1, 0) 40%);
}

.hint {
  /* background-color: black; */
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
}

@media all and (max-width: 375px) {
  .light::after {
    background: none;
  }

  .hint {
    display: none;
  }
}

@media all and (min-width: 376px) and (max-width: 500px) {
  .light::after {
    background: none;
  }

  .hint {
    display: none;
  }
}

@media all and (min-width: 501px) and (max-width: 768px) {
  .light::after {
    background: none;
  }

  .hint {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1300px) {
  .light::after {
    background: none;
  }

  .hint {
    display: none;
  }
}