@keyframes gradientMove {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.space {
  visibility: collapse;
}
/* .homeGrid {
  overflow: hidden;
  background-color: #000000;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100svh - 5.6em);
}
.memoji {
  width: 22em;
  height: 23em;
  background: url("../images/memoji.png");
  background-size: 100% 100%;
}
.name {
  font-size: 3.3em;
  font-weight: 600;
  display: flex;
  padding-bottom: 20px;
}
.designation {
  font-size: 1.69em;
  line-height: 1.3em;
  font-weight: 450;
  color: gray;
  padding-left: 5px;
  text-align: justify;
  color: white;
}
.name {
  background: linear-gradient(to right, #8fb1f5, #0f5fff, #023db2);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientMove 3s linear infinite;
} */

/* @media all and (max-width: 375px) {
  .homeGrid {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 60px;
  }
  .name {
    font-size: 1.9em;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .designation {
    font-size: 0.65em;
    padding-left: 0;
  }
  .memoji {
    width: 15em;
    height: 15em;
  }
} */
/* @media all and (min-width: 376px) and (max-width: 500px) {
  .homeGrid {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 60px;
  }
  .name {
    font-size: 1.9em;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .designation {
    font-size: 0.65em;
    padding-left: 0;
  }
  .memoji {
    width: 15em;
    height: 15em;
  }
}
@media all and (min-width: 501px) and (max-width: 768px) {
  .homeGrid {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 60px;
  }
  .name {
    font-size: 2.5em;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .designation {
    font-size: 0.87em;
    padding-left: 0;
  }
  .memoji {
    width: 15em;
    height: 15em;
  }
  .nameDesig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media all and (min-width: 768px) and (max-width: 1300px) {
  .homeGrid {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 70px;
  }
  .name {
    font-size: 3.5em;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .designation {
    font-size: 1.19em;
    padding-left: 0;
  }
  .nameDesig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} */

/* Experiment */

.homecontent {
  border: 1px solid red;
  color: white;
  min-height: calc(100svh - 5.6em);
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeGrid {
  /* margin: 0 auto; */
  max-width: 1300px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.nameDesig {
  width: 100%;
}
.name {
  display: flex;
  vertical-align: top;
  font-size: clamp(1rem, 3vw, 3rem);
  line-height: 3em;
}
.designation {
  font-size: clamp(1rem, 1vw, 1.64rem);
}
.memoji {
  min-width: 16em;
  min-height: 16em;
  margin: 0 auto;
}
.memoji img {
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1025px) {
  .homeGrid {
    flex-direction: column-reverse;
    width: 95%;
    align-items: flex-start;
  }
  .nameDesig {
    margin: 0 auto;
  }
  .name {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: clamp(100%, 60%);
    line-height: 1;
    padding-bottom: 1em;
  }

  .designation {
    text-align: center;
    font-size: clamp(100%, 60%);
  }
  .memoji {
    max-width: 40%;
  }
}
