@keyframes gradientMove {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.homeGrid {
  overflow: hidden;
  background-color: #000000;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100svh - 5.6em);
  /* padding-left: 0.5em; */
}
.memoji {
  width: 22em;
  height: 23em;
}
.homeGrid img {
  width: 100%;
  height: 100%;
  margin: 2.075em 0;
}
.name {
  font-size: 6.5em;
  padding-bottom: 20px;
}
.designation {
  font-size: 1.9em;
  line-height: 1.3em;
  font-weight: 450;
  color: gray;
  width: 47ch;
  padding-left: 5px;
  text-align: justify;
}
.name {
  background: linear-gradient(to right, #8fb1f5, #0f5fff, #023db2);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientMove 3s linear infinite;
}

/* @media all and (max-width: 1720px) {
  .name {
    font-size: 75px;
  }
  .designation {
    font-size: 55px;
  }
}

@media all and (max-width: 1720px) {
  .name {
    font-size: 60px;
  }
  .designation {
    font-size: 45px;
  }
}

@media all and (max-width: 1360px) {
  .name {
    font-size: 55px;
  }
  .designation {
    font-size: 40px;
  }
}

@media all and (max-width: 1212px) {
  .name {
    font-size: 60px;
  }
  .designation {
    font-size: 30px;
  }
} */
